.layout-container {			
	display: grid;
	
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 2fr auto;
	grid-template-areas: "header sidebar"
						 "main sidebar"
						 "footer sidebar";		

	width: 960px; 		    
    position: absolute;
    left: 50%;
	margin-left: -480px;						 
}

.layout-header {
	grid-area: header;		 			
}

.layout-footer {
	grid-area: footer;	
}

.layout-main {
	grid-area: main; 			
}

.layout-side {
	grid-area: sidebar;		 
}
