body {
	background-color: #ffe0ac;		
	font-family: 'Open Sans'; 
	font-size: 14px;
}

hr.dashed {
  border-top: 3px dashed #ccc;
}

h1 {
	color: #ffacb7;
	font-family: 'Open Sans';
	font-weight: lighter;
}

h3 {
	font-family: 'Open Sans';
	font-weight: 700;	
}

/*  */ 

input[type=text] {
  width: 90%;
  padding: 6px;
  margin: 8px;

  box-sizing: border-box;  
  border: 3px solid #ccc;
  outline: none;

  -webkit-transition: 0.5s;
  transition: 0.5s;

  font-weight: 400;
  font-size: 14px;
}

input[type=text]:focus {
  border: 3px solid #ffacb7;

  font-weight: 700;
  color: #ffacb7;  
}

input[type=text]::placeholder {
  font-weight: 400;
}


/* Kitty, Birdie, Falling Items  */ 

.right {
	float: right;	
    position: relative;
    margin: 8px;
}

#birdie {
	width: auto;
	max-width: 120px;
}

.kitty {
	width: auto;
	max-width: 200px;	
}

.kitty.center {	
    position: relative;    
    left: 50%;
	margin-left: -100px;
}

.user-input {		 			
	text-align: left;

	color: #000;
	background-color: #f9f9f9;		
	border-radius: 6px;
	padding: 16px;
	margin: 8px;
}

.user-output {
	text-align: left;	

	background-color: #f9f9f9;
	border-radius: 6px;
	padding: 16px;
	margin: 8px;
	vertical-align: top;
}

.falling {
    display: block;
    width: 100%;
    height: auto;
}

/* JS  */ 

.hidden {
  visibility: hidden;
}

.gone {
	display: none;
}